{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="title">SVP Login</p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <label>
            <input class="input" type="email" name="email" placeholder=" " required>
            <span>Email</span>
        </label>
        <label>
            <input class="input" type="password" name="password" placeholder=" " required>
            <span>Password</span>
        </label>
        <button class="submit">Log in</button>
        <p class="signin">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </form>
</body>
</html>
