{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVP Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <style>
        .error-message {
            color: red;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .success-message {
            color: green;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <p class="title">SVP Sign Up</p>
        <label>
            <input class="input" type="text" name="name" placeholder=" " required>
            <span>Name</span>
        </label>
        <label>
            <input class="input" type="email" name="email" placeholder=" " required>
            <span>Email</span>
        </label>
        <label>
            <input class="input" type="password" name="password" placeholder=" " required>
            <span>Password</span>
        </label>
        {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="{% if message.tags %}{{ message.tags }}-message{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <button class="submit">Submit</button>
        <p class="signin">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
    </form>
    <script>
        // Function to hide the messages after 5 seconds
        function hideMessages() {
            const messagesDiv = document.getElementById('messages');
            if (messagesDiv) {
                setTimeout(() => {
                    messagesDiv.style.display = 'none';
                }, 5000); // 5000 milliseconds = 5 seconds
            }
        }

        // Run the function when the page loads
        window.onload = hideMessages;
    </script>
</body>
</html>
